@model IEnumerable<Foro_C.Models.Entrada>

@{
    ViewData["Title"] = "Index"; 
}

<h1>Entradas</h1>

<p>
    <!-- <a asp-action="Create">Create New</a> -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miembro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool puedeEliminar =  User.IsInRole("Admin");

            if (User.Identity.IsAuthenticated || !item.Privada)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Titulo)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Privada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miembro.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    
                        @if (puedeEliminar)
                        {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            <a asp-action="Create" asp-controller="Preguntas" asp-route-entradaId="@item.Id" class="btn btn-info">Crear Pregunta</a>
                        </td>
                        } else {
                     <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Create" asp-controller="Preguntas" asp-route-entradaId="@item.Id" class="btn btn-info">Crear Pregunta</a>
                    </td>}
                </tr>
            }

        }
    </tbody>
</table>
